@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}


body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #fff;
}


/* NAVIGAITON BAR */

.navbar{ /* styles default nav border */
	border-bottom: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}
 .navbar-inverse { /* nav bar background color */
	background-color: #fff;
	opacity: 0.95;
}


.navbar-inverse .navbar-brand {
	text-transform: uppercase;
	color: black;
	font-size: 2em;
}

.navbar-inverse .navbar-brand:hover{ /* brand hover state */
	color: gray;
}


.navbar .navbar-nav li > a {  /* nav links default state */
	color: black;
	opacity: .8;
	font-size: 1.25em;
	margin-left: 50px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	position: relative;
	text-decoration: none;
	color: black;
}

.navbar .navbar-nav li > a:before {  /* nav links underline */
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: teal;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}



.navbar-inverse .navbar-nav>li>a:hover{ /* nav links hover state */
	color: teal;
	/*border-bottom: 1px solid black;*/
}

.navbar-inverse .navbar-nav>li>a:hover:before{ /* nav links hover state */
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{ /* nav links active/selected state */
	color: teal;
	background-color: #fff;
	font-weight: 400;
}

.navbar-inverse .navbar-nav>.active>a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: teal;
  /*border-bottom: 2px solid teal;*/
}

/* dropdown menu styling */
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { /* selected nav dropdown menu link background color*/
	background-color: #3389d9;
}
.navbar-nav>li>.dropdown-menu{  /* dropdown menu background color*/
	background-color: #3389d9;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{ /* dropdown menu links default state*/
	color: rgba(255,255,255,.8);
	padding: 10px 20px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover { /* dropdown menu links hover/focus state*/
	background-color: #3379d9;
	color: rgba(255,255,255,1);
	opacity: 1;
}


/* hamburger menu styling */
.navbar-inverse .navbar-collapse{ /* bottom border of nav bar when collapsed */
	border-color: #3379d9;
}
.navbar-inverse .navbar-toggle { /* hamburger icon background color */
	background-color: transparent;
  	border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { /* hamburger icon hover state */
	background-color: #0071bc;
	opacity: 0.8;
}


/* PORTFOLIO PAGE */

.work{
	margin-top: 100px;
}
