---
layout: default.njk
title: About Me
---

<div class="about-me">
  <h1>Hi! I'm Karly</h1>
  <p class="text-2xl mt-8">
    I'm a Senior Software Engineer and UX Designer at
    <a target="_blank" rel="noopener noreferrer" href="https://lworks.io/"
      >Ledger Works</a
    >
    in St. Louis. I design and build web apps, mobile apps, and some pretty
    sweet charcuterie boards.
  </p>
  <p class="mt-6 text-xl">
    Find me on
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="linkedin"
      href="https://www.linkedin.com/in/karlynelson"
      >LinkedIn</a
    >,
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="dribbble"
      href="https://dribbble.com/KarlyANelson"
      >Dribbble</a
    >, and
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="github"
      href="https://github.com/karlyanelson"
      >Github</a
    >.
  </p>
</div>
