---
layout: layouts/default.njk
title: Search
description: Search my site
canonical: https://karlynelson.com/search
---

<div class="search-page container pb-16">
  <h1 class="mb-6">Search</h1>
  <p class="text-secondary mb-6">
    Search provided by <a href="https://pagefind.app/">Pagefind</a>
  </p>
  <div id="search"></div>
</div>
