---
layout: default.njk
title: Search
description: Search my site
---

<div class="search-page px-6 max-w-5xl mx-auto">
  <h1 class="mb-6">Search</h1>
  <p class="text-secondary-on-dark mb-6">
    Search provided by <a href="https://pagefind.app/">Pagefind</a>
  </p>
  <div id="search"></div>
</div>
