<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{title}} - Karly Nelson</title>
    <meta charset="UTF-8" />
    {% if description %}
    <meta name="description" content="{{description}} {% if techStack %}{%- for tech in techStack -%} | {{ tech.name }}{% if tech.version %}v{{tech.version}} {% endif %}{%- endfor -%}{% endif %}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    {# Syntax highlighting - See themes at https://unpkg.com/browse/prismjs@1.20.0/themes/ #}
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css"
      rel="stylesheet"
    />
    {# Search #}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    {# My Styles #}
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <!-- favicons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap"
      rel="stylesheet"
    />

    {# Search - Pagefind JS #}
    <script src="/pagefind/pagefind-ui.js"></script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88TSRYR9CT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-88TSRYR9CT")
    </script>
    {% block head %}{% endblock %}
    <script defer src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    <header
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-between flex-wrap gap-8 px-2 py-8 sm:p-8 max-w-7xl mx-auto title-display text-2xl w-full"
    >
      <a href="/" class="text-primary-on-dark font-extrabold">Karly Nelson</a>
      <nav class="flex items-center justify-center flex-wrap gap-1">
        <a href="/" {% if page.url == '/' %}aria-current="page"{% endif %}>About Me</a>
        <a href="/posts" {% if '/posts' in page.url %}aria-current="page"{% endif %}>Articles</a>
        <a href="/search"{% if '/search' in page.url %}aria-current="page"{% endif %}>Search</a>
      </nav>
    </header>
    <main class="mt-10 sm:mt-24 pb-6">
      {% block content %} {{ content | safe }} {% endblock %}
    </main>
    <footer
      class="text-secondary md:flex items-center justify-between p-8 max-w-7xl mx-auto w-full"
    >
      <p class="text-center mb-4 md:mb-0 md:text-left flex-none">&copy; 2024 Karly Nelson</p>
      <p class="text-center md:text-right">
        Colophon: Built with <a href="https://www.11ty.dev/">Eleventy</a>,
        <a href="https://tailwindcss.com/">Tailwind CSS</a>,
        <a href="https://alpinejs.dev/">AlpineJS</a>,
        <a href="https://prismjs.com/">PrismJS</a>, and
        <a href="https://www.netlify.com/">Netlify</a>
      </p>
    </footer>
  </body>

{# Search - PageFind #}
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>
</html>
