<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Karly Nelson{% endblock %} - {{title}}</title>
    <meta charset="UTF-8" />
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    {# See themes at https://unpkg.com/browse/prismjs@1.20.0/themes/ #}
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-dark.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <!-- favicons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    {#
    <link
      href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap"
      rel="stylesheet"
    />
    #}
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88TSRYR9CT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-88TSRYR9CT")
    </script>
    {% block head %}{% endblock %}
    <script defer src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    <header
      class="flex items-center justify-between flex-wrap gap-8 p-8 max-w-7xl mx-auto title-display text-2xl w-full"
    >
      <a href="/" class="text-primary">Karly Nelson</a>
      <nav class="flex items-center gap-8">
        <a href="/" {% if page.slug == "/" %} aria-current="page"{% endif %}>About Me</a>
        <a href="/posts" {% if page.slug == "/posts" %} aria-current="page" style="background:red"{% endif %}>Articles</a>
      </nav>
    </header>
    <main class="px-6 max-w-5xl mx-auto mt-24">
      {% block content %} {{ content | safe }} {% endblock %}
    </main>

    <footer
      class="text-secondary flex items-center justify-between p-8 max-w-7xl mx-auto w-full mt-40"
    >
      <p>&copy; 2024 Karly Nelson</p>
      <p>
        Colophon: Built with <a href="https://www.11ty.dev/">Eleventy</a>,
        <a href="https://tailwindcss.com/">Tailwind CSS</a>,
        <a href="https://alpinejs.dev/">AlpineJS</a>,
        <a href="https://prismjs.com/">PrismJS</a>, and
        <a href="https://www.netlify.com/">Netlify</a>
      </p>
    </footer>
  </body>
</html>
