---
layout: default.njk
---

<article>
  <h1>{{title}}</h1>

  <p>{{description}}</p>

  {% if publishedDate %}
  <p>Published: {{publishedDate}}</p>
  {% endif %} {% if updatedDate %}
  <p>Last updated: {{updatedDate}}</p>
  {% endif %}

  <h2>Technologies Used</h2>
  <ul>
    {% for tech in techStack %}
    <li>{{tech}}</li>
    {% endfor %}
  </ul>

  <div>{{ content | safe }}</div>
</article>
