---
layout: default.njk
---

<article>
  <h1 class="mb-8">{{title}}</h1>

  {% if publishedDate %}
  <p class="text-secondary text-sm">
    Published: {{publishedDate}} {% endif %} {% if updatedDate %} • Last
    updated: {{updatedDate}}
  </p>
  {% endif %}

  <ul class="flex items-center flex-wrap gap-4 mt-4 mb-6">
    {% for tech in techStack %}
    <li class="chip">{{tech}}</li>
    {% endfor %}
  </ul>

  <hr />

  <div class="mt-16">{{ content | safe }}</div>
</article>
