* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #0d3148;
  color: rgba(255, 255, 255, .8);
  font-weight: 400;
  padding: .5rem;
  margin: 0;
  position: relative;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(16, 17, 41, .5);
}

.bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .5;
}

.no-motion-img {
  display: none;
}

h1 {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 6rem;
  margin-bottom: 2rem;
  margin-top: 10rem;
  color: white;
  line-height: 1;
  font-weight: 900;
}

.intro {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto;
}

.link-home {
  margin: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

.links {
  margin-top: 2rem;
  font-size: 1.25rem;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

a::after {
  transition: all ease 300ms;
  content: '';
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  background: white;
}

a:hover::after,
a:focus::after {
  width: 100%;
}

footer {
  margin-bottom: 1rem;
  font-size: .75em;
}

button {
  font-size: 1rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
}


@media (max-width: 500px) {
  body {
    color: white;
  }

  h1 {
    margin-top: 5rem;
    font-size: 4rem;
  }

  a {
    text-decoration: underline;
  }

  a::after {
    display: none;
  }

  footer {
    position: relative;
    margin-top: 3rem;
  }
}

/* CSS to disable motion goes here */
@media (prefers-reduced-motion: reduce) {
  .bg-gif, .pause-gif {
    display: none;
  }

  .no-motion-img {
    display: inherit;
  }
}