---
layout: default.njk
title: Writing
eleventyImport:
  collections: ["post"]
published: Sept 18, 2024
---

<h1>Writing</h1>

<ul>
{%- for post in collections.post -%}
  <li{% if page.url == post.url %} aria-current="page"{% endif %} class="my-6">
    <a class="block p-8 border border-solid rounded border-action fancy-hover hover:bg-action hover:bg-opacity-15 dark:hover:bg-opacity-15" href="{{ post.url }}">
      <h2 class="font-bold text-2xl ">{{ post.data.title }}</h2>
        <p class="text-secondary font-light text-sm my-2">Published: {{ post.data.publishedDate}}
          {%- if post.data.updatedDate -%}
            <span> • Updated: {{ post.data.updatedDate }}</span>
          {%- endif -%}
        </p>

        <ul class="flex items-center flex-wrap gap-4">
          {%- for tech in post.data.techStack -%}
            <li class="chip">{{ tech }}</li>
          {%- endfor -%}
          </ul>
      </a>
  </li>
{%- endfor -%}
</ul>


