---
layout: layouts/default.njk
title: Articles
eleventyImport:
  collections: ["post"]
description: How-to articles on various specific problems I've solved.
---

<div class="container">
  <div class="mb-12">
    <h1 class="mb-2">Articles</h1>
    <p class="text-secondary-on-dark">
      How-to articles on various specific problems I've solved.
    </p>
  </div>

  <ul>
    {%- for post in collections.post | reverse -%}
    <li class="mb-10">
      {% if post.data.draft %}
      <span
        class="text-xs bg-orange-900 text-white font-bold px-2 py-1 rounded-full inline-block mb-2"
      >
        🚧 Under Construction
      </span>
      {% endif %}
      <h2 class="text-2xl">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="text-secondary-on-dark font-light text-sm my-1">
        {{post.date | postDateShort}} {% for tech in post.data.techStack %}
        <span class="mx-2"> | </span>
        <span> {{tech.name}} </span>
        {% endfor %}
      </p>
      <p class="text-sm text-secondary-on-dark">{{ post.data.description }}</p>
    </li>
    {%- endfor -%}
  </ul>
</div>
