---
layout: layouts/default.njk
---

<article>
  <div class="container">
    {% if draft %}
    <div class="text-lg">{% include "under-construction.njk" %}</div>
    {% endif %} {% if emoji %}
    <div class="text-[5rem] leading-none mb-4">{{emoji}}</div>
    {% endif %}

    <h1 class="mb-8">{{title}}</h1>

    <p class="text-secondary text-sm">
      Published: {{page.date | postDate}}{% if lastUpdated%} • Updated:
      {{lastUpdated | postDate}}{% endif %}
    </p>

    <ul class="flex items-center flex-wrap gap-4 mt-4 mb-6">
      {% for tech in techStack %}
      <li>
        <a href="{{tech.url}}" target="_blank" class="chip-action">
          {{tech.name}} {% if tech.version %}v{{tech.version}} {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>

    <hr />
    <details class="mt-8" open>
      <summary class="mb-4">Table of Contents</summary>
      <aside
        class="border border-solid border-slate-600 px-4 py-6 rounded bg-black bg-opacity-25"
      >
        {{ content | toc | safe }}
      </aside>
    </details>
  </div>

  <div class="mt-24 relative -bottom-1">{% include "svgs/top-curve.njk" %}</div>
  <div class="article-content bg-is-light is-on-light text-primary pt-1 pb-8">
    <div class="container relative -top-11">{{ content | safe }}</div>
  </div>
  <div class="relative -top-1 z-0">{% include "svgs/bottom-curve.njk" %}</div>
</article>
