---
layout: layouts/default.njk
---

<article>
  <div class="container">
    {% if draft %}
    <div class="text-lg">{% include "under-construction.njk" %}</div>
    {% endif %}

    <h1 class="mb-8">{{title}}</h1>

    <p class="text-secondary-on-dark text-sm">
      Published: {{page.date | postDate}}{% if lastUpdated%} • Updated:
      {{lastUpdated | postDate}}{% endif %}
    </p>

    <ul class="flex items-center flex-wrap gap-4 mt-4 mb-6">
      {% for tech in techStack %}
      <li>
        <a href="{{tech.url}}" target="_blank" class="chip-action">
          {{tech.name}} {% if tech.version %}v{{tech.version}} {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>

    <hr />
    <details class="mt-8" open>
      <summary class="mb-4">Table of Contents</summary>
      <aside
        class="border border-solid border-secondary-on-light px-4 py-6 rounded bg-black bg-opacity-25"
      >
        {{ content | toc | safe }}
      </aside>
    </details>
  </div>

  <div class="mt-24 relative -bottom-1">{% include "svgs/top-curve.njk" %}</div>
  <div class="article-content pt-1">
    <div class="container relative -top-11">{{ content | safe }}</div>
  </div>
  <svg
    class="block fill-article-bg w-full relative -top-4"
    viewBox="0 0 1067 192"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 0H1067V123C1067 123 974.762 101.222 887 100C752.185 98.1233 638.744 139.752 504 135C381.909 130.694 297.08 81.3857 175 86C96.6296 88.9622 0 123 0 123V0Z"
    />
  </svg>
</article>
