@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
  @apply bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-200
  /* font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 400;
  padding: 0.5rem;
  margin: 0;
  position: relative;
  letter-spacing: 0.5px; */;
}

a {
  @apply text-sky-700 dark:text-sky-400;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

a::after {
  @apply bg-sky-700 dark:bg-sky-400;
  transition: all ease 300ms;
  content: "";
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}

a:hover::after,
a:focus::after {
  width: 100%;
}
