@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary-on-light {
    @apply text-slate-800;
  }

  .text-primary-on-dark {
    @apply text-slate-100;
  }

  .text-secondary-on-light {
    @apply text-slate-600;
  }

  .text-secondary-on-dark {
    @apply: text-slate-300;
  }

  .text-action-on-light {
    @apply text-sky-600;
  }

  .text-action-on-dark {
    @apply text-sky-300;
  }

  .bg-action-on-light {
    @apply bg-sky-600;
  }

  .bg-action-on-dark {
    @apply bg-sky-300;
  }

  .bg-action-card-hover-on-dark {
    @apply hover:bg-sky-300 hover:bg-opacity-15;
  }

  .border-action-on-dark {
    @apply: border-sky-300;
  }

  .border-action-on-light {
    @apply border-sky-600;
  }

  .border-primary-on-light {
    @apply border-slate-800;
  }

  .border-primary-on-dark {
    @apply: border-slate-200;
  }

  .border-secondary-on-light {
    @apply border-slate-600;
  }
  .border-secondary-on-dark {
    @apply border-slate-300;
  }

  .font-family-basic {
    font-family: "Karla", Helvetica, Arial, sans-serif;
  }

  .title-display {
    @apply font-family-basic
    /* font-family: "Satisfy", "Tiny5", "Courier New", Courier, monospace; */
    /* font-family: "Tiny5", "Courier New", Courier, monospace; */;
  }
}

.bg-main {
  @apply bg-sky-950 bg-gradient-to-tl from-sky-950 to-blue-950;
}

.fill-main-bg {
  @apply fill-sky-950;
}

body {
  font-size: 1.25rem;
  font-weight: 500;
  @apply bg-main text-primary-on-dark font-family-basic min-h-screen;
}

/* Headings */

h1 {
  @apply title-display font-extrabold text-7xl;
}

h2 {
  @apply text-5xl font-bold;
}

h3 {
  @apply text-4xl font-bold;
}

h4 {
  @apply text-3xl font-bold;
}

/* Links */

a {
  @apply text-action-on-dark;
}

a {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

/* Fancy hover */

._fancy-hover-base {
  transition: all ease 300ms;
  content: "";
  height: 4px;
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  border-radius: 2rem;
}

.fancy-hover::after {
  @apply _fancy-hover-base bg-action-on-dark;
}

.fancy-hover-on-light::after {
  @apply _fancy-hover-base bg-action-on-light;
}

.fancy-hover:hover::after,
.fancy-hover:focus::after,
.fancy-hover-on-light:hover::after,
.fancy-hover-on-light:focus::after {
  width: 100%;
}

.about-me a,
header a,
footer a {
  @apply fancy-hover-on-light;
}

/* Code blocks */

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.875em;
  margin: 1rem 0;
  @apply rounded-2xl;
}

code[class*="language-"] {
  @apply py-6;
}

code:not([class*="language-"]) {
  font-size: 0.75em;
  @apply bg-slate-200 rounded-lg py-1 px-2;
}

.article-content code:not([class*="language-"]) {
  font-size: 0.75em;
  @apply bg-slate-200 rounded-lg py-1 px-2;
}

.article-content pre {
  @apply bg-sky-950;
}

/* Chips */

._chip-base {
  @apply inline-block border border-solid text-sm px-2 py-1 rounded-lg;
}

.chip {
  @apply _chip-base border-secondary-on-dark text-secondary-on-dark;
}

.chip-action {
  @apply _chip-base border-action-on-dark text-action-on-dark bg-action-card-hover-on-dark;
}

/* Articles */

.article-bg {
  @apply bg-slate-300;
}

.fill-article-bg {
  @apply fill-slate-300;
}

.article-content {
  @apply article-bg text-primary-on-light;
}

.article-content a {
  @apply text-action-on-light;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  @apply mt-16 mb-4;
}

.article-content h2 + h3,
.article-content h3 + h4 {
  @apply mt-6;
}

.article-content p {
  @apply my-4;
}

.article-content pre + p {
  @apply mt-8;
}

.article-content ol {
  list-style-type: decimal;
  padding-inline-start: 2rem;
}

/* Table of Contents */

.toc ol {
  list-style-type: disc;
  padding-inline-start: 2rem;
}

.toc li {
  margin-top: 0.25rem;
}

.article-content a {
  @apply fancy-hover-on-light;
}

.toc a {
  @apply fancy-hover;
}

/* Media Queries */
@media screen and (max-width: 640px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }
}
