@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary-on-light: #1e293b /* slate-800 */;
  --text-primary-on-dark: #f1f5f9 /* slate-100 */;
  --text-secondary-on-light: #475569 /* slate-600 */;
  --text-secondary-on-dark: #cbd5e1 /* slate-300 */;
  --action-on-light: #1d4ed8 /*  blue-700 */;
  --action-on-dark: #7dd3fc /* sky-300 */;

  --bg-dark: #082f49 /* big-sky-950 */;
  --bg-light: var(--text-secondary-on-dark);
  --bg-code: #e2e8f0 /*  slate-200 */;

  /* Page Find Search */
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: rgba(0, 0, 0, 0.25);
  --pagefind-ui-border: white;
  --pagefind-ui-tag: #152028;
}

html {
  @apply min-h-screen;
}

body {
  --text-primary: var(--text-primary-on-dark);
  --text-secondary: var(--text-secondary-on-dark);
  --action: var(--action-on-dark);
  font-weight: 500;
  color: var(--text-primary);
  @apply text-base sm:text-xl bg-main font-family-basic min-h-screen grid grid-rows-[auto,1fr,auto];
}

.is-on-light {
  --text-primary: var(--text-primary-on-light);
  --text-secondary: var(--text-secondary-on-light);
  --action: var(--action-on-light);
}

.container {
  @apply px-6 max-w-5xl mx-auto;
}

@layer utilities {
  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-action {
    color: var(--action);
  }

  .bg-action {
    background-color: var(--action);
  }

  .border-action {
    border-color: var(--action);
  }

  .border-text-primary {
    border-color: var(--text-primary);
  }

  .border-text-secondary {
    border-color: var(--text-secondary);
  }

  .bg-main {
    background-color: var(--bg-dark);
    @apply bg-gradient-to-tl from-sky-900 to-blue-950;
  }

  .font-family-basic {
    font-family: "Karla", Helvetica, Arial, sans-serif;
  }

  .title-display {
    @apply font-family-basic
    /* font-family: "Pixelify Sans", "Karla", Helvetica, Arial, sans-serif;
    font-weight: normal; */;
  }
}

/* Headings */

h1 {
  @apply title-display font-extrabold text-7xl;
}

h2 {
  @apply text-5xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

/* Nav */

header nav a {
  @apply px-4 py-2 rounded text-primary text-lg sm:text-xl flex items-center gap-1;
}

header nav a[aria-current="page"] {
  @apply bg-gradient-to-tl from-sky-800  to-blue-900;
}

.nav-emoji {
  transform: rotate(-3deg);
  @apply transition-all ease-in-out duration-300
    relative top-[2px];
}

/* header nav a[aria-current="page"] .nav-emoji, */
header nav a:hover .nav-emoji {
  @apply animate-wiggle;
}

.nav-link-img {
  @apply w-6 h-6;
}

.nav-link-img img {
  @apply w-full h-full;
}

header nav .gif-still {
  display: block;
}

header nav a:hover .gif-still {
  display: none;
}

header nav .gif-motion {
  display: none;
}

header nav a:hover .gif-motion {
  display: block;
}

/* Links */

a {
  @apply text-action fancy-hover;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

img {
  @apply max-w-full w-full h-auto;
}

.img-link {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.img-link:hover img {
  @apply opacity-75;
}

.img-link:hover::after {
  display: none;
}

/* Fancy hover */

._fancy-hover-base {
  transition: all ease 300ms;
  content: "";
  height: 4px;
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  border-radius: 2rem;
}

.fancy-hover::after {
  @apply _fancy-hover-base bg-action bg-gradient-to-r from-sky-300  to-blue-500;
}

.is-on-light .fancy-hover::after {
  @apply _fancy-hover-base bg-action bg-gradient-to-r from-sky-500  to-blue-700;
}

.fancy-hover:hover::after,
.fancy-hover:focus::after {
  width: 100%;
}

/* Code blocks */

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.875em;
  margin: 1rem 0;
  white-space: pre-wrap;
  @apply rounded-2xl;
}

code[class*="language-"] {
  @apply py-6;
}

code:not([class*="language-"]) {
  font-size: 0.75em;
  background-color: var(--bg-code);
  @apply rounded-lg py-1 px-2;
}

.article-content code:not([class*="language-"]) {
  font-size: 0.75em;
  background-color: var(--bg-code);
  @apply rounded-lg py-1 px-2;
}

.article-content pre {
  background-color: var(--bg-dark);
}

/* Chips */

._chip-base {
  @apply inline-block border border-solid text-sm px-2 py-1 rounded;
}

.chip {
  @apply _chip-base border-text-secondary text-secondary;
}

.chip-action {
  @apply _chip-base border-action text-action;
}

.chip-action:hover {
  @apply bg-gradient-to-tl from-sky-800  to-blue-900;
}

.chip-under-construction {
  @apply bg-orange-800 bg-opacity-50 text-white font-bold px-2 py-1 rounded-full inline-block mb-2;
}

.is-on-light .chip-under-construction {
  @apply bg-orange-600 bg-opacity-15 text-orange-800;
}

/* Articles */

.bg-is-light {
  background-color: var(--bg-light);
}

.fill-bg-is-light {
  fill: var(--bg-light);
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  @apply mt-16 mb-4;
}

.article-content h2 + h3,
.article-content h3 + h4 {
  @apply mt-6;
}

.article-content p {
  @apply my-4;
}

.article-content pre + p {
  @apply mt-8;
}

.article-content ol {
  list-style-type: decimal;
  padding-inline-start: 2rem;
  line-height: 1.8;
}

.article-content ul {
  list-style-type: disc;
  padding-inline-start: 1.5rem;
}

.article-content blockquote {
  @apply border-l-4 border-slate-800 pl-4 py-4 my-4 bg-slate-400 bg-opacity-25;
}

/* Table of Contents */

.toc ol {
  @apply list-disc list-inside;
}

.toc ol ol {
  padding-inline-start: 2rem;
}

.toc li {
  margin-top: 0.25rem;
}

.toc a {
  @apply fancy-hover;
}

/* Resume */

.resume-content h2 {
  @apply flex items-center gap-4 mt-24 mb-10;
}

.resume-content ul ul {
  @apply flex gap-x-6 gap-y-1 flex-wrap mb-1;
}

.resume-content ul ul li {
  @apply mr-2;
}

.resume-gradient {
  @apply bg-gradient-to-tl from-sky-800  to-blue-900;
}

.resume-content h2::after,
.resume-content h2::before {
  @apply resume-gradient rounded-full;
  content: "";
  flex: 1;
  background-color: var(--action);
  height: 0.5rem;
  width: 100%;
  opacity: 0.5;
}

.resume-content h2:first-of-type {
  @apply mt-0;
}

/* Media Queries */
@media screen and (max-width: 640px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }
}

/* Accessibility */

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @link https://github.com/h5bp/main.css/issues/12#issuecomment-321106995
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
